header {
  height: 80px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  width: 100%;
  z-index: 1;
  position: fixed;
}
header span {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header, img {
  align-items: flex-start;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

header, nav {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

div {
  border: 1px solid black;
  display: block;
}

.lead-story {
  display: block;
}

.image-content {

}

p {
  display: block;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

span.bite {
  padding: 0px;
}

.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.image-content span {
  color: white;
  font-weight: bold;
  font-family: georgia;
  font-size: 30px;
}

.lead-story span {
  font-size: 40px;
}

.fall-cancelled.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}
